
<br />
<form action="Result" method="post">
    <br />
    User Name: <input type="text" name="UserName" required /> <br /><br />
    Email: <input type="email" pattern="^([\w\.\-]+)\@('@')([\w\-]{2,}?)((\.(\w){2,3})+)$" name="Email" required /><p style="color:red">@Session["Error"]</p><br /><br />
    Password: <input type="password" minlength="8" required name="Password" /><br /><br />
    <input type="submit" />
</form>